.box {
   display: flex;
   margin: auto;
   background-color:white;
   width: 700px;
   height: 400px;
   flex-direction: column;
  justify-content: space-between;
   border: 3px solid green;
   padding: 5px; 
 }
 .grid-item{
  background-color: blueviolet;
 height: 50px;
 flex-direction: row;
 display: flex;
 justify-content: center;
 align-items:center ;
 }

.second{
  align-self: center;
  height: 200px;
  with: 70%;
}