
body {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
  .top-bar {
    border: 2px solid;
    border-bottom: none;
  }
  .container {
    width: 550px;
    height: 600px;
    border: 3px solid;
    padding: 30px 50px 30px 15px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
  .red {
    background-color: blue;
  }
  .blue {
    background-color: lightblue;
  }
  .yellow {
    background-color: lightgoldenrodyellow;
    grid-column: 1 / span 2;
  }