* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #04aa6d;
}
.nav-bar button {
  background-color: red;
  margin: 10px;
  margin-top: 20px;
  cursor: pointer;
  padding: 5px;
  color: #fff;
  border: 1px solid red;
  border-radius: 5px;
}
.nav-bar .signup {
  background-color: #a91da9;
  color: #fff;
  border: 1px solid #a91da9;
}
.nav-bar img {
  width: 100px;
  height: 50px;
}

.footer p {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px;
  background-color: #f3f3f3;
  color: #666;
  text-align: center;
  font-family: arial;
}
.product-container .container {
  margin: 50px;
}
.product-container .container  table{
  margin:20px 10%;
}
.product-container .container td{
  text-align:center;
}
.product-container .container img {
  width: 290px;
  height: 300px;
  background-color:#fbfbfb;
  margin:10px 10px;
}
.product-container .container .product-name{
  font-family: arial;
  font-weight: normal;
  color:#000;
}
.product-container .container .product-price{
  color:#04aa6d;
  font-weight: bold;
    margin-top:10px;
    margin-bottom:10px;
}
.product-container .container .product-price .discount-price {

  text-decoration: line-through;
  color:#666;
   font-size:9px;
}
.product-container .container button{
  background-color:#fff;
  border:1px solid #fff;
  cursor: pointer;
  padding:10px;
  font-family: arial;
  color:#666;
}
.product-container .container button:hover{
  color:#000;
  transition:0.3s;
}
.product-container .container  td:hover{
  border:1px solid #000;
  transition:1s;

}