.personal-contianer {
  float: left;
  height: auto;
  width: 13%;
  background-color: rgb(45 43 43);
  padding: 10px;
  margin: 0px 30px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.personal-profile {
  background-image: url("../image/profile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 20%;
  width: 100%;
  position: center;
}
.personal-profile .prof-name {
  color: white;
  padding-top: 50px;
  font-size: 50px;
  margin-left: 15px;
}
.personal-profile .prof-desc {
  color: #fff;
  font-size: 15px;
}
.contacts {
  width: 100%;
}
.contacts img {
  width: 30px;
  height: 25px;
  margin-top: 10px;
}
.contacts .personal-desc-para {
  color: white;
  margin-left: 20px;
  margin-top: -5px;
  font-family: arial;
  font-size: 12px;
  text-align: left;
  letter-spacing: 1px;
}
.contacts .hr {
  float: right;
  width: 80%;
}
.calls img {
  width: 20px;
  height: 25px;
  margin-top: 10px;
}
.calls .contact-no {
  color: white;
  font-family: arial;
  font-size: 14px;
  margin-left: 15px;
  letter-spacing: 1px;
}
.calls .tags {
  color: rgb(212, 212, 212);
  font-family: arial;
  font-size: 12px;
  margin-left: 15px;
  margin-top: -25px;
  letter-spacing: 1px;
}
.calls .hr {
  float: right;
  width: 80%;
}

.mails img {
  width: 20px;
  height: 25px;
  margin-top: 10px;
}
.mails .contact-no {
  color: white;
  font-family: arial;
  font-size: 14px;
  margin-left: 15px;
  letter-spacing: 1px;
}
.mails .tags {
  color: rgb(212, 212, 212);
  font-family: arial;
  font-size: 12px;
  margin-left: 15px;
  margin-top: -25px;
  letter-spacing: 1px;
}
.mails .hr {
  float: right;
  width: 80%;
}

.address img {
  width: 20px;
  height: 25px;
  margin-top: 10px;
}
.address .contact-no {
  color: white;
  font-family: arial;
  font-size: 14px;
  margin-left: 15px;
  letter-spacing: 1px;
}
.address .tags {
  color: rgb(212, 212, 212);
  font-family: arial;
  font-size: 12px;
  margin-left: 15px;
  margin-top: -25px;
  letter-spacing: 1px;
}
.address .hr {
  float: right;
  width: 80%;
}

.Skills img {
  width: 20px;
  height: 25px;
  margin-top: 10px;
}
.Skills .contact-no {
  color: white;
  font-family: arial;
  font-size: 14px;
  margin-left: 15px;
  letter-spacing: 1px;
}
.Skills .tags {
  color: rgb(212, 212, 212);
  font-family: arial;
  font-size: 12px;
  margin-left: 15px;
  margin-top: -25px;
  letter-spacing: 1px;
}
.Skills .hr {
  float: right;
  width: 80%;
}

.right-side-area {
  height: auto;

  width: 50%;
  margin: 20px 17%;
}

.work-experience {
  width: 100%;
  background-color: dimgrey;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  height: 40%;
}
.work-experience h2 {
  color: #fff;
  font-family: arial;
  color: rgb(124, 124, 124);
  letter-spacing: 2px;
  font-weight: normal;
}
.work-experience b {
  color: #616161;
  padding: 10px;
}
.work-experience img {
  float: left;
  width: 65px;
  height: 55px;
  margin-top: 5px;
}
.work-experience .title {
  color: rgb(124, 124, 124);
  font-family: arial;
  text-align: center;
  margin-left: 80px;
  font-weight: bold;
}
.work-experience .date {
  color: rgb(0, 153, 255);
  font-family: arial;
  text-align: center;
  margin-left: 80px;
  font-size: 14px;
  font-weight: normal;
}
.work-experience .desc {
  color: rgb(124, 124, 124);
  font-family: arial;
  margin-left: 80px;
  font-size: 14px;
  font-weight: normal;
}
/*education */
.education {
  width: 100%;
  background-color: #dcdcdc;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  height: 40%;
}
.education h2 {
  color: #fff;
  font-family: arial;
  color: rgb(124, 124, 124);
  letter-spacing: 2px;
  font-weight: normal;
}
.education b {
  color: #616161;
  padding: 10px;
}
.education img {
  float: left;
  width: 65px;
  height: 55px;
  margin-top: 5px;
}
.education .title {
  color: rgb(124, 124, 124);
  font-family: arial;
  text-align: center;
  margin-left: 80px;
  font-weight: bold;
}
.education .date {
  color: rgb(0, 153, 255);
  font-family: arial;
  text-align: center;
  margin-left: 80px;
  font-size: 14px;
  font-weight: normal;
}
.education .desc {
  color: rgb(124, 124, 124);
  font-family: arial;
  margin-left: 80px;
  font-size: 14px;
  font-weight: normal;
}
