.background{
    background-image: url(https://static.timesofisrael.com/www/uploads/2018/06/high-tech.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding: 20px;
    width: 100%;
    height: 700px;
  }
  
}
